@import "../../colors";

.results {
  flex: 1;
  display: flex;
  justify-content: center;
  .placeholder {
    align-self: center;
    font-size: calc(200px + 2vmin);
    color: $gray;
    opacity: 0.1;
    &.loading {
      animation: spin 1s linear infinite;
    }
  }
  .error {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 30px;
      margin-bottom: 5%;
    }
  }
  .table {
    display: flex;
    flex: 1;
    margin-top: 5%;
    max-width: 1150px;
    position: relative;
    .scrollMore { 
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      text-align: center;
      margin: 0;
      background-image: linear-gradient(to right, transparent, $white);
      width: 30px;
    }
    .dates {
      display: flex;
      overflow: auto;
    }
    .column {
      text-align: center;
      &:last-of-type {
        padding-right: 10px;
      }
      .index {
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.boatTypes {
          font-size: 20px;
        }
        p {
          line-height: 20px;
          + p {
            margin-top: 10px;
            background-color: $blue;
            padding: 3px 0;
            font-size: 13px;
            color: $white;
            width: 80%;
            border-radius: 20px;
          }
        }
      }
      .card {
        height: 110px;
        margin: 0 10px 15px;
        border: 1px solid $gray_light;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        min-width: 110px;
        &:hover {
          border: 1px solid $gray;
        }
        &.empty {
          cursor: default;
          border: none;
        }
        &.boat {
          display: flex;
          width: 250px;
          justify-content: center;
          border: 1px solid $blue;
          cursor: default;
          p {
            color: $blue;
            font-weight: bold;
            font-size: 26px;
          }
        }
        &.status-3 {
          background-color: #f5f5f5;
          opacity: 0.5;
          cursor: default;
          &:hover {
            border: 1px solid $gray_light;
          }
          .status {
            color: $red;
          }
        }
        &.status-2 {
          .status {
            color: $orange;
            font-weight: bold;
          }
        }
        div {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .price {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
            opacity: 0.5;
            &.old {
              text-decoration-line: line-through;
            }
          }
          .newPrice {
            font-weight: bold;
            font-size: 22px;
            color: $blue;
          }
        }
        .status {
          padding: 7px 0;
          font-size: 14px;
          border-top: 1px dashed $gray_light;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .results {
    .table {
      max-width: 90%;
      margin-top: 10%;
      > .column {
        padding-right: 10px;
      }
      .column {
        flex: 1;
        .card {
          height: 110px;
          &.boat {
            width: 90%;
            min-width: 100px;
            p {
              font-size: 14px;
            }
          }
        }
      }
      .dates {
        flex: 2
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}